body{
    margin: 0;
    padding: 0;
}
 li{
    display: inline-block;
    list-style-type: none;
}

 a{
    color: #ffd700;
    display: block;
    line-height: 2em;
    padding: 0.5em 1em;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
}
div{
    background-color: black;
    height: 70px;
    margin-top: -17px;
    
}

.logo-img{
    height: 130px;
    width: 130px;
    float: left;
    margin: -28px 15px 15px -10px;
}
a:hover{
    color: #ffff;
}
